@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-purple: #54287F;
    --color-dark-grey: #161616;
    --color-black: #0E0E0E;
    --color-white: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}